h2 {
  margin: 0;
}
.details-card {
  margin: 1rem 4rem;
}
.detail-img {
  flex: 1;
  height: 20rem;
  object-fit: contain;
}
.i-frame {
  width: 100%;
}
.content {
  display: flex;
}
.text-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
